<!DOCTYPE html>
{%load static%}
<html>
	<head>
		<link rel = "stylesheet" href = "{%static '/css/theme.css'%}">
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0, shrink-to-fit=No">
	</head>

	<body>

		<div class = "preloader-wrapper">
			<div class = "preloader">
				<img src = "{%static 'img/loader2.gif'%}" alt = "App Loading">
			</div>
		</div>

		<div id = "top">
		<section id = "topSection">
			<div class = "row">
				<div class = "col bg4 color2 left p3">
					<span style = "margin-right:5%">Email: raven@gmail.com</span>
					<span style = "">Phone: +2349054719111 </span>
				</div>
			</div>
		</section>

		<section id = "miniNav">
			<div class = "row">
				<div class = "col">
					<ul id = "navigation" class = "right bg3">
						<li><a  class = "whiteColor" href = "">Account</a></li>
					</ul>
				</div>
			</div>
		</section>
		</div>

		<section class = "container" style = "padding-top:7%;" id = "bg">
			<div class = "row">
				<div class = "col-md-2">
					{%block sidebar%}
					{%if user.is_authenticated%}
					<div style = "width:100%;">
						<small style = "">Close X </small>
						<ul id = "sidebar">
							<li><a id = "addInvoiceBtn" onclick = "popOpen()">Add Invoice</a></li>
							<li><a href = "{%url 'invoice:invoices'%}">All Invoices</a></li>
							<li><a href = "{%url 'invoice:sent-invoices'%}">Sent Invoices</a></li>
							<li><a href = "{%url 'invoice:trash'%}">Trash</a></li>
						</ul>
					</div>
					{%else%}
					{%endif%}
					{%endblock%}
				</div>

				<div class = "offset-md-1 col-md-8">
					{%block content%}
					{%endblock%}
				</div>
			</div>
		</section>

		<section id = "addInvoice-wrapper" style = "display:none;">
			<div id = "addInvoice">
				<div id = "innerAddInvoice">
				<form method = "post" action = "{%url 'invoice:addInvoice'%}">
					{%csrf_token%}
					<h3 style = "margin-bottom:5px;" class = "text-center">Add Invoice</h3>
					<input class = "form-control" name = "heading" type = "text" placeholder = "heading">
					<hr>
					<input class = "form-control" name = "amount" placeholder = "Amount Due" type = "number">
					<hr>
					<input class = "form-control" name = "email" placeholder = "Recipent Email" type = "email">
					<hr>
					<input class = "form-control" name = "transactionDate" placeholder = "Transaction Date" type = "date">
					<hr>
					<select name = "status" class = "form-control">
						<option value = "1">Paid</option>
						<option value = "0">Unpaid</option>
					</select>
					<hr>
					<textarea name = "description" class = "form-control">Transaction Description</textarea>
					<hr>
					<div class = "row">
						<div class = "offset-md-2 col-md-4">
							<button class = "btn btn-info btn-block" type = "submit">Save</button>
						</div>
						<div class = "col-md-4">
							<a class = "btn btn-dark btn-block" id = "cancelAdd">Cancel</a>
						</div>
					</div>
				</form>
				</div>
			</div>
		</section>



		<footer id = "footer" class = "center">
			<div>
				(c)Raven 2020
			</div>
		</footer>

		<script src = "{%static 'js/jquery-3.5.1.js'%}"></script>

		<script>
			$(document).ready(function(){
				$('body').addClass('preloader-site');
			})

			window.onload = function(){
				$('body').removeClass('preloader-site');
				$('.preloader-wrapper').fadeOut();

				let body = document.querySelector('body')
				body.style.overflow = 'auto';
			}
		</script>

		<script>
			const addInvoiceBtn = document.querySelector("#addInvoiceBtn");
			const pop = document.querySelector('#addInvoice-wrapper')
			const bg = document.querySelector("#bg");
			//let popElem = document.querySelector()

			function popOpen(){
				pop.style.display = "block";
				bg.style.filter = "blur(5px)";
			}
		</script>

		<script>
			cancelBtn = document.querySelector('#cancelAdd');
			cancelBtn.onclick = function(){
				bg.style.filter = "none";
				pop.style.display = "none";
			}
		</script>
		
		{%block js%}
		{%endblock%}
	</body>
</html>