{%extends "invoice/invoiceBase.html"%}

{%block content%}
<div>
	<h2>{{invoice.heading}}</h2>
	<hr>
	<div>
		<div class = "row">
			<div class = "col-md-6">
				<p><button class = "btn btn-secondary btn-sm">Issuer:</button> {{invoice.issuer}}</p>
			</div>
			<div class = "col-md-6">
				<p><button class = "btn btn-secondary btn-sm">Recipent:</button> {{invoice.email}}</p>
			</div>
		</div>
		<hr>
		<div class = "row">
			<div class = "col-md-6">
				<p><button class = "btn btn-secondary btn-sm">Amount Due:</button>#{{invoice.amount_due}}</p>
				<p><button class = "btn btn-secondary btn-sm">Transaction Date:</button> {{invoice.transaction_date}}</p>
			</div>
			<div class = "col-md-6">
				<p><button class = "btn btn-secondary btn-sm">Invoice Sent</button> {%if invoice.sent == True%} Yes {%else%} No {%endif%}</p>
				<p><button class = "btn btn-secondary btn-sm">Status</button> {%if invoice.status == 'p'%} Paid {%else%} Unpaid {%endif%}</p>
			</div>
		</div>

		
		</p>
		<hr>
		<div class = "row">
			{%if request.user.username == invoice.issuer%}
			<div class = "col text-right">
				<a href = "{%url 'invoice:send-invoice' invoice.id%}" class = "btn btn-primary">Send Invoice</a>
				<a href = "{%url 'invoice:delete-invoice' invoice.id%}" class = "btn btn-danger">Delete Invoice</a>
				<button class = "btn btn-info">Edit Invoice</button>
			</div>
			{%else%}
			<div class = "col text-right">
				<a href = "" class = "btn btn-success">Pay Now</a>
			</div>
			{%endif%}
		</div>

	</div>
</div>
{%endblock%}