<!DOCTYPE html>
<html>
	<head>
		<link rel = "stylesheet" href = "theme.css">
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0, shrink-to-fit=No">
		<meta name = "author" content = "Ayotunde Okunubi">
	</head>
	<body>
		<div class = "mainFrame">
			<div class = "mainFrame2">
				<div id = "introSection" align = "center">
					<h1 id = "mainText"></h1>
					<!--
					<p id = "signOff">The Reliable Invoicing System</p>
					-->
				</div>
				<div id = "loginSection">
					<h1></h1>
				</div>
			</div>
		</div>

		<script>
			windowHeight = window.innerHeight;
			windowWidth = window.innerWidth;
			const body = document.querySelector('.mainFrame');
			body.style.minHeight = windowHeight+'px';
			body.style.width = windowWidth+'px';
		</script>
	</body>
</html>